header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #0a0ddf;
    color: #c0e2f5;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 1em;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.25em;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
  }
  
  section {
    background-color: #8ec1eb;
    padding: 2em;
    border-radius: 0.25em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 2em);
    margin-bottom: 2em;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  button {
    background-color: #0a011a;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  }
  
  img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }